<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/view.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/jquery/jquery-form.js}"></script>
    <title></title>
</head>
<body class="layui-view-body">
	<div class="layui-row">
    	<div class="layui-card">
        	<form class="layui-form layui-card-body layui-form-pane" method="post">
				<div class="layui-form-item">


					<label class="layui-form-label">地址2
						<a href="javascript:;">[[${user?.nickname}]]</a>
					</label>
					<div class="layui-input-inline">
						<input type="tel" name="host"  id="host" th:value="${user?.nickname}" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">端口</label>
					<div class="layui-input-inline">
						<input type="number" name="port"  id="port" value="30021"  autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-inline">
						<input type="tel" name="username"  id="username" value="myuser" autocomplete="off" class="layui-input">
					</div>
					<label class="layui-form-label">密码</label>
					<div class="layui-input-inline">
						<input type="tel" name="pass"  id="pass" value="mypass"  autocomplete="off" class="layui-input">
					</div>

					<button type="button" class="layui-btn" id="test9">开始</button>
				</div>
				<div class="layui-form-item">
					<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
						<legend>拖拽上传</legend>
					</fieldset>
<!--
					<label class="layui-form-label"><i>*</i>zip名称</label>
-->
					<div class="layui-upload-drag"  id="test4">
						<i class="layui-icon"></i>
						<p>点击上传，或将文件拖拽到此处</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
<script>
var form = layui.form;
var layer = layui.layer;

layui.use('upload', function(){
    var $ = layui.jquery
        ,upload = layui.upload;
//普通图片上传

var uploadInst = upload.render({
    elem: '#test4'
    ,url: '[[@{/}]]ingress/upload/file' //改成您自己的上传接口
    ,accept: 'file' //普通文件
    ,auto: false
    ,bindAction: '#test9'
    ,data:{
        host: function(){
            return $('#host').val();
        },
        port: function(){
            return $('#port').val();
        } ,
		username: function(){
            return $('#username').val();
        }	,
        pass: function(){
            return $('#pass').val();
        }
    }
    ,before: function(obj){
        layer.msg('上传中……');
    }
    ,done: function(res){
        console.log("1111",res)
        layer.msg('登录状态'+res.data.登录状态);
        layer.msg('上传状态'+res.data.上传状态);
    }

  });
});




// 错误处理
function errorHandle(data) {
	if (data.status == 404) {
		layer.msg("请求资源不存在", {icon: 2});
	} else {
		layer.msg("服务端异常", {icon: 2});
	}
	return;
}
</script>
</html>