<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/view.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/jquery/jquery-form.js}"></script>
    <title></title>
</head>
<body class="layui-view-body">
	<div class="layui-row">
    	<div class="layui-card">
        	<form class="layui-form layui-card-body layui-form-pane" method="post" th:action="@{/env/createMySQLBack}">
				    <div class="layui-form-item">

						<label class="layui-form-label">命名空间</label>
						<div class="layui-input-inline">
							<select id="namespace" lay-verify="required" lay-filter="namespace" name="namespace">
								<option value="">请选择</option>
							</select>
						</div>
						<label class="layui-form-label">容器名</label>
						<div class="layui-input-inline">
							<input type="tel" name="podName" maxlength="15" minlength="2" lay-verify="required" style="width: 360px" placeholder="会自动添加mysqlback 只能小写加数字  " autocomplete="off" class="layui-input">
						</div>
					</div>


					<div class="layui-form-item">
						<label class="layui-form-label">MySQL容器</label>
						<div class="layui-input-inline">
							<select id="mysqlServer" lay-verify="required" name="mysqlServer">
								<option value="">请选择</option>
							</select>
						</div>
						<label class="layui-form-label">用户</label>
						<div class="layui-input-inline">
							<input type="tel" name="mysqlUser" lay-verify="required" value="root" autocomplete="off" class="layui-input">
						</div>
						<label class="layui-form-label">密码</label>
						<div class="layui-input-inline">
							<input type="tel" name="mysqlPwd"   value="123456"  autocomplete="off" class="layui-input">
						</div>
					</div>
					<fieldset class="layui-elem-field layui-field-title" style="color: mediumaquamarine">
						<legend>备份类型</legend>
					</fieldset>
					<div class="layui-form-item">
						<label class="layui-form-label">NFS</label>
						<div class="layui-input-block">
							<input type="radio" name="nfsType" lay-filter="nfsType" value="k8s" title="K8S集群" checked="">
							<input type="radio" name="nfsType" lay-filter="nfsType" value="nfs" title="NFS路径">
						</div>
					</div>
						<div class="layui-form-item" id="nfsConfig">
							<fieldset class="layui-elem-field layui-field-title" style="color: mediumaquamarine">
								<legend>NFS</legend>
							</fieldset>
							<label class="layui-form-label">NFS地址</label>
							<div class="layui-input-inline">
								<input type="tel" name="nfsServer"  placeholder="IP"  autocomplete="off" class="layui-input">
							</div>
							<label class="layui-form-label">NFS路径</label>
							<div class="layui-input-inline">
								<input type="tel" name="nfsPath" style="width: 460px" placeholder="全路径如：/data/nfs/mysqlback/"  autocomplete="off" class="layui-input">
							</div>
					    </div>


					<div class="layui-form-item">
						<label class="layui-form-label" style="width: 300px">多久备份一次(分钟)</label>
						<div class="layui-input-inline">
							<input type="number" name="backDate" id="backDate" lay-verify="required" value="60" min="30" max="1440" autocomplete="off" class="layui-input">
						</div>
						<label class="layui-form-label" style="width: 300px">保留最新几天备份数据</label>
						<div class="layui-input-inline">
							<input type="number" name="backDay"  lay-verify="required" value="10" max="60" min="1" autocomplete="off" class="layui-input">
						</div>
							<label class="layui-form-label"  id="nfsSizeLabel">挂载大小（G）</label>
							<div class="layui-input-inline"  id="nfsSize" >
								<input type="number" name="nfsSize" lay-verify="required" value="50" max="200" min="10" autocomplete="off" class="layui-input">
							</div>
					</div>

				<div class="layui-form-item">
					<label style="width: 300px;color: blueviolet" class="layui-form-label">建议备份：1小时备份一次</label>
					<label style="width: 300px;color: blueviolet" class="layui-form-label">K8S集群,一个命名空间只支持一个备份</label>
				</div>
				<div class="layui-form-item">
					<button type="submit" class="layui-btn" lay-submit lay-filter="*">开始备份</button>
				</div>
			</form>
		</div>
	</div>
</body>
<script>
var form = layui.form;
var layer = layui.layer;
var dropdown = layui.dropdown

layui.use('form', function(){
    var form = layui.form;
    form.render();
});

//初演示 - 绑定输入框
dropdown.render({
    elem: '#backDate'
    ,data: [
    {
       title: '半小时'
		,value: 30
       },{
        title: '1小时'
        ,value: 60
    },{
        title: '2小时'
        ,value: 120
    },{
        title: '3小时'
        ,value: 180
    },{
        title: '半天'
        ,value: 720
    },{
        title: '一天'
        ,value: 1440
    }]
    ,click: function(obj){
        this.elem.val(obj.value);
    }
    ,style: 'width: 235px;'
});

$("#nfsConfig").hide();
form.on('radio(nfsType)', function(data){
    if (data.value == 'nfs'){
        $("#nfsConfig").show();
        $("#nfsSizeLabel").hide();
        $("#nfsSize").hide();
	} else{
        $("#nfsConfig").hide();
        $("#nfsSizeLabel").show();
        $("#nfsSize").show();
	}
    console.log(data)
})

form.on('select(namespace)', function(data){
    $("#mysqlServer").empty()
    $('#mysqlServer').append(new Option("请选择",""));//
    console.log(data);
    var namespace = data.value

    $.ajax({
        url : "[[@{/}]]pod/listEnvData",
        type : "get",
        data : {namespace:namespace,limit : 100, page:1},
        dataType : "json",
        error : function(data) {
            errorHandle(data);
        },
        success : function(data) {
            data = data.data.records;
            $.each(data, function (index, item) {
                if(item.podName.indexOf("remysqlback") != -1
                    || item.podName.indexOf("mysqlback") != -1){
                }else if (item.podName.indexOf("mysql") != -1){
                    $('#mysqlServer').append(new Option(item.namespace+"."+item.podName, item.serviceName+"."+item.namespace));// 下拉菜单里添加元素
                }
            });
            layui.form.render("select")
        }
    });

})




form.on('select(nacosList)', function(data){
    $("#nacosNamespace").empty()
    $("#nacosConfigNamespace").empty()
    $('#nacosNamespace').append(new Option("请选择",""));// 下拉菜单里添加元素
    $('#nacosConfigNamespace').append(new Option("请选择",""));// 下拉菜单里添加元素

    console.log(data);
    console.log(data.bindK8sIP+"---"+data.ports);
    var strings = data.value.split("---");
    console.log(strings);
    $('#nacosServer2').val(strings[2])
    if(strings != null && strings != ''){
        $.ajax({
            url : "[[@{/}]]deploy/getNacosNamespace",
            // type : "get",
            dataType : "json",
            data : {"ip":strings[0],"port":strings[1]},
            error : function(data) {
                errorHandle(data);
            },
            success : function(data) {
                $.each(data.data, function (index, item) {
                    $('#nacosNamespace').append(new Option(item.namespaceShowName,item.namespace));// 下拉菜单里添加元素
                    $('#nacosConfigNamespace').append(new Option(item.namespaceShowName,item.namespace));// 下拉菜单里添加元素
                    if(index == 1){
                        $('#nacosNamespace').val(item.namespace)
                        $('#nacosConfigNamespace').val(item.namespace)
                    }
                });
                layui.form.render("select")
            }
        });
    }
});

$.ajax({
    url : "[[@{/}]]deploy/getNamespace",
    type : "get",
    dataType : "json",
    error : function(data) {
        errorHandle(data);
    },
    success : function(data) {
        $.each(data, function (index, item) {
            $('#namespace').append(new Option(item.name, item.name));// 下拉菜单里添加元素
        });
        layui.form.render("select")
    }
});

// 提交表单
form.on('submit(*)', function(data){
    $(".layui-form").ajaxForm({
        error: function(data){
            errorHandle(data);
        },
        success: function(data) {
            if(data.code == 200){
                parent.location.reload();
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
                layer.msg("部署成功", {icon: 2});
            }else{
                console.log("data404",data)
                layer.msg(data.msg, {icon: 2});
            }
        }
    });
});

// 错误处理
function errorHandle(data) {
	if (data.status == 404) {
		layer.msg("请求资源不存在", {icon: 2});
	} else {
		layer.msg("服务端异常", {icon: 2});
	}
	return;
}
</script>
</html>