<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/view.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
    <title></title>
</head>
<body class="layui-view-body">
<input id="defaultNamespaceHidden" hidden th:value="${defaultNamespace}"/>

	<div class="layui-content">
	    <div class="layui-row">
			<div class="layui-card">

                <!--  环境 -->

                    <div class="layui-content">
                        <div class="layui-row">
                            <div class="layui-card">
                                <div class="layui-form-item layui-form layui-card-body layui-form-pane" >
                                    <label class="layui-form-label">命名空间</label>
                                    <div class="layui-input-inline">
                                        <select id="namespace"  lay-verify="required"   lay-filter="namespace"class="layui-input" name="namespace">
                                            <option value="">请选择</option>
                                        </select>
                                    </div>
                                    <button class="layui-btn" id="reloadName" data-type="reload">查询</button>
<!--
                                    <button class="layui-btn layui-btn-normal" data-type="add">单个部署环境</button>
-->
                                    <button class="layui-btn layui-btn-warm" data-type="addMulti">批量部署环境</button>
                                    <button class="layui-btn layui-btn-warm" data-type="addSeata">seata环境</button>
                                </div>
                                <table class="layui-hide" id="harborDataTable2" lay-filter="config"></table>
                                <script type="text/html" id="operation2">
                                    <a class="layui-btn layui-btn-xs" lay-event="open">打开</a>
                                    <a class="layui-btn layui-btn-xs" lay-event="logs">日志</a>
                                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                                </script>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</body>
<script>
var element = layui.element;
var table = layui.table;
var layer = layui.layer;
var namespace = ''
var form = layui.form;
$.ajax({
    url : "[[@{/}]]deploy/getNamespace",
    type : "get",
    dataType : "json",
    error : function(data) {
        errorHandle(data);
    },
    success : function(data) {
        $.each(data, function (index, item) {
            $('#namespace').append(new Option(item.name, item.name));// 下拉菜单里添加元素
            var val = $("#defaultNamespaceHidden").val();
            if (val && item.name == val ){
                $('#namespace').val(item.name)
            }
        });
        layui.form.render("select")
    }
});
form.on('select(namespace)', function(data){
    console.log(data);
    namespace = data.value;
})

table.render({
    id: 'harborTable2'
    ,elem: '#harborDataTable2'
    ,url: '[[@{/pod/listEnvData}]]'
    ,page: {
        layout: ['prev', 'page', 'next', 'count', 'skip', 'limit']
        ,limits:[10,20,50,100]
        , limit: 20
        ,groups: 5
        ,first: false
        ,last: false
    }
    ,cols: [
        [
            {field:'hostIp', title: '容器宿主机IP',sort: true}
            ,{field:'ports', title: '端口',sort: true}
            ,{field:'podName', title: '容器名称', align: 'center',sort: true}
            ,{field:'namespace', title: '命名空间', align: 'center',sort: true}
            ,{field:'podStatus', title: '容器状态', align: 'center',sort: true}
            ,{field:'date', title: '部署时间', align: 'center',sort: true}
            ,{title:'操作', align: 'center', toolbar: '#operation2', width:250}
        ]
    ]
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
        console.log(res)
        return {
            "code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
        };
    },


});


//监听行工具事件
table.on('tool(config)', function(obj) {
    var row = obj.data;
    console.log(obj)
    var  str = row.podName
    var  configName = row.configName
    var name = row.podName.substring(0,str.indexOf("-",str.indexOf("-")+1));
    if (obj.event === 'del') {
        layer.confirm("确认  "+row.podName+"  删除吗？", {icon: 3, title: '提示'}, function (index) {
            layer.close(index);
            $.ajax({
                url: "[[@{/}]]env/delDeploy",
                data: {"name": name, 'namespace': row.namespace,'configName':configName},
                type: "post",
                dataType: "json",
                error: function (data) {
                    errorHandle(data);
                },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        $("#reloadName").click();
                        layer.msg('删除成功');
                    }
                }
            });
        });

        /*layer.confirm("确认  "+row.podName+"  删除吗？", {icon: 3, title: '提示'}, function (index) {
            layer.close(index);
            $.ajax({
                url: "[[@{/}]]pod/delete",
                data: {"namespace": row.namespace, 'podName': row.podName},
                type: "post",
                dataType: "json",
                error: function (data) {
                    errorHandle(data);
                },
                success: function (data) {
                    console.log(data)
                    if (data.code == 200) {
                        $("#reloadName").click();
                        layer.msg('删除成功');
                    }
                }
            });
        });*/

    }if(obj.event === "open") {
        var list = obj.data.ports.split(",");
        for (var i = 0; i < list.length; i++) {
            if (obj.data.podName.indexOf("env-nacos") != -1) {
                window.open("http://" + obj.data.bindK8sIP + ":" + list[i].split(":")[1] + "/nacos");
            } else if(obj.data.podName.indexOf("kkfileview") != -1){
                window.open("http://" + obj.data.bindK8sIP + ":" + list[i].split(":")[1] + "/preview");
            } else {
                window.open("http://" + obj.data.bindK8sIP + ":" + list[i].split(":")[1]);
            }
        }
    }  else if(obj.event ==='logs') {
        console.log(obj.data.namespace)
        window.open('[[@{/}]]pod/logs?namespace=' + obj.data.namespace + '&podName=' + obj.data.podName)
    }
})

active = {
	add: function() {
		layer.open({
    		type: 2,
    		area: ['80%', '80%'],
    		title: '单个部署',
    		content: '[[@{/}]]env/add'
    	});
	},
    addMulti: function() {
		layer.open({
    		type: 2,
    		area: ['100%', '80%'],
    		title: '批量部署',
    		content: '[[@{/}]]env/addMulti'
    	});
	},
    addSeata: function() {
		layer.open({
    		type: 2,
    		area: ['100%', '80%'],
    		title: 'seata',
    		content: '[[@{/}]]env/addSeata'
    	});
	},
    reload: function() {
        table.reload('harborTable2', {
            where: {
                namespace : namespace
            }
        }, 'data');
    },
	reset: function() {
		$(".layui-input").val("");
	}
};

// 按钮事件
$('.layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
});





//错误处理
function errorHandle(data) {
	if (data.status == 404) {
		layer.msg("请求资源不存在", {icon: 2});
	} else {
		layer.msg("服务端异常", {icon: 2});
	}
	return;
}
</script>
</html>