<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/view.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/jquery/jquery-form.js}"></script>
    <title></title>
</head>
<body class="layui-view-body">
	<div class="layui-row">
    	<div class="layui-card">
        	<form class="layui-form layui-card-body layui-form-pane" method="post" >
				<div class="layui-form-item">

					<div class="layui-form-item">
						<label class="layui-form-label">命名空间</label>
						<div class="layui-input-block">
							<select id="namespace" lay-verify="required" name="namespace">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">镜像</label>
						<div class="layui-input-block">
							<select id="image"  lay-verify="required" name="image">
								<option value="">请选择</option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">内端口</label>
							<div class="layui-input-inline" style="width: 100px;">
								<input type="number" name="port" id="port" th:min="0" value="80" placeholder="" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-form-mid">外</div>
							<div class="layui-input-inline" style="width: 180px;">
								<input type="number" name="nodePort" id="nodePort" value="31234" placeholder="30000-32767" th:min="30000" th:max="32767"  autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label"><i>*</i>conf配置</label>
						<button type="button" class="layui-btn layui-btn-primary"  name="file" id="file"><i class="layui-icon"></i>只允许conf文件</button>
					</div>
					<div class="layui-form-item">
						<label style="width: 560px" class="layui-form-label">前端内端口为:80 外端口:30801  管理后台内端口为:80 外端口:30803</label>
					</div>
				</div>
				<div class="layui-form-item">
					<button  class="layui-btn" id="test9" >提交</button>
				</div>
			</form>
		</div>
	</div>
</body>
<script>
var form = layui.form;
var layer = layui.layer;

layui.use('upload', function(){
    var $ = layui.jquery
        ,upload = layui.upload;
//普通图片上传
    var uploadInst = upload.render({
        elem: '#file'
        ,url: '[[@{/}]]deploy/pod/nginx' //改成您自己的上传接口
        ,accept: 'file' //普通文件
        ,auto: false
        ,bindAction: '#test9'
        , data: {
            file: function(){
                return $('#file').val();
            } ,
			namespace: function(){
                return $('#namespace').val();
            } ,
            image: function(){
                return $('#image').val();
            }  ,
            port: function(){
                return $('#port').val();
            } ,
            nodePort: function(){
                return $('#nodePort').val();
            }
		}
        ,done: function(res){
            console.log("1111",res)
            if(res.code == 200){
                parent.location.reload();
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
                return layer.msg('成功');
            }else{
                return layer.error('失败');
			}
        }
        ,error: function(){
            console.log("error")
            return   layer.error('失败');
      }
    });
});

layui.use('form', function(){
    var form = layui.form;
    form.render();
});

$.ajax({
    url : "[[@{/}]]deploy/getNamespace",
    type : "get",
    dataType : "json",
    error : function(data) {
        errorHandle(data);
    },
    success : function(data) {
        $.each(data, function (index, item) {
            $('#namespace').append(new Option(item.name, item.name));// 下拉菜单里添加元素
        });
        layui.form.render("select")
    }
});

$.ajax({
    url : "[[@{/}]]harbor/list",
    type : "get",
    dataType : "json",
    error : function(data) {
        errorHandle(data);
    },
    success : function(data) {
        console.log(data)
        $.each(data.data, function (index, item) {
            $('#image').append(new Option(item.imageName+":"+item.version, item.imageName+":"+item.version));// 下拉菜单里添加元素
        });
        layui.form.render("select")
    }
});

$.ajax({
    url : "[[@{/}]]deploy/getNacos",
    type : "get",
    dataType : "json",
    error : function(data) {
        errorHandle(data);
    },
    success : function(data) {
        console.log(data)
        $.each(data, function (index, item) {
            $('#nacosList').append(new Option(item, item));// 下拉菜单里添加元素
        });
        layui.form.render("select")
    }
});



//自定义验证规则
form.verify({

});

// 提交表单
form.on('submit(*)', function(data){
    $(".layui-form").ajaxForm({
        error: function(data){
            errorHandle(data);
        },
        success: function(data) {
            parent.location.reload();
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
    });
});

// 错误处理
function errorHandle(data) {
	if (data.status == 404) {
		layer.msg("请求资源不存在", {icon: 2});
	} else {
		layer.msg("服务端异常", {icon: 2});
	}
	return;
}
</script>
</html>