<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/view.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
    <title></title>
</head>
<body class="layui-view-body">
	<div class="layui-content">
	    <div class="layui-row">


                <div class="layui-inline">
                    <label class="layui-form-label" style="width: 60px">镜像前缀</label>
                    <div class="layui-inline mr10">
                        <input type="tel" id="projectName" name="projectName" th:value="${harborImageProjectName}" class="layui-input">
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label" style="width: 40px; padding-left: 0px">版本</label>
                        <div class="layui-input-inline">
                            <input type="text"  id="version" name="version"style="width: 80px;" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <button class="layui-btn layui-btn-sm" id="reload" data-type="reload">查询</button>
                    <button class="layui-btn layui-btn-warm layui-btn-sm " data-type="deployMultiPod">批量部署应用</button>
                    <button class="layui-btn layui-btn-warm layui-btn-sm" data-type="deployNginx">前端部署</button>
                    <button class="layui-btn layui-btn-warm layui-btn-sm" data-type="deployPython">Python部署</button>
                    <button class="layui-btn layui-btn-normal layui-btn-sm" data-type="addNginx">前端新增</button>
                    <button class="layui-btn layui-btn-normal layui-btn-sm"  data-type="addJar">JAR新增</button>
                    <button class="layui-btn layui-btn-normal layui-btn-sm" data-type="addPython">Python新增</button>
                    <button class="layui-btn layui-btn-danger layui-btn-sm"  data-type="batchDeleteImage">删除镜像</button>
                </div>

					<table class="layui-hide" id="harborDataTable" lay-filter="config"></table>
					<script type="text/html" id="operation">
						<a class="layui-btn layui-btn-xs" lay-event="deploy" >部署</a>
						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
					</script>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
var element = layui.element;
var table = layui.table;
var layer = layui.layer;




table.render({
	id: 'harborTable'
	,elem: '#harborDataTable'
    ,url: '[[@{/harbor/listData}]]'
    ,cols: [
    	[
             {fixed:'left',type:'checkbox'}
            ,{field:'imageName', title: '镜像'}
            ,{field:'version', title: '版本', align: 'center',sort: true}
            ,{field:'created', title: '日期',sort: true}
            ,{title:'操作', align: 'center', toolbar: '#operation', width:150}
    	]
   	]
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
	    console.log(res)
    	return {
    		"code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
    	};
    }
});


active = {
    addNginx: function() {
		layer.open({
    		type: 2,
    		area: ['100%', '80%'],
    		title: '前端新增',
    		content: '[[@{/}]]deploy/addNginx'
    	});
	},
    addJar: function() {
		layer.open({
    		type: 2,
    		area: ['100%', '80%'],
    		title: 'Jar新增',
    		content: '[[@{/}]]deploy/addJar'
    	});
	},
    deployNginx: function() {
		layer.open({
    		type: 2,
    		area: ['100%', '80%'],
    		title: '部署前端',
    		content: '[[@{/}]]deploy/deployNginx2'
    	});
	},
    deployMultiPod: function() {
		layer.open({
    		type: 2,
    		area: ['100%', '80%'],
    		title: 'jar部署',
    		content: '[[@{/}]]deploy/deployMultiPod'
    	});
	},
    addPython: function() {
		layer.open({
    		type: 2,
    		area: ['100%', '80%'],
    		title: 'python制作镜像',
    		content: '[[@{/}]]deploy/addPythonForm'
    	});
	},
    deployPython: function() {
		layer.open({
    		type: 2,
    		area: ['100%', '80%'],
    		title: 'python部署',
    		content: '[[@{/}]]deploy/deployPython'
    	});
	},




	reload: function() {
		table.reload('harborTable', {
            where: {
                projectName : $("input[name='projectName']").val(),
                version : $("input[name='version']").val()
        }
		}, 'data');
	},
	reset: function() {
		$(".layui-input").val("");
	},
    batchDeleteImage : function(){ //获取选中数据
        var checkStatus = table.checkStatus('harborTable')
            ,data = checkStatus.data;
        var projectName =''
        var tag =''
        for (var i = 0 ; i < data.length; i++){
            projectName +=data[i].imageName+",";
            tag +=data[i].version+",";
        }
        if (tag != '' && projectName != '' ) {
            layer.confirm("确定删除吗？", {icon: 3, title:'提示'}, function(index) {
                layer.close(index);
                $.ajax({
                    url : "[[@{/}]]harbor/batchDeleteImage",
                    data : {'projectName': projectName,'tag':tag},
                    type : "post",
                    dataType : "json",
                    error : function(data) {
                        errorHandle(data);
                    },
                    success : function(data) {
                        console.log("删除",data)
                        layer.msg('删除成功');
                        active.reload();
                    }
                });
            });
        }else{
            layer.msg('请选择要删除的数据');
        }
    }
};

// 按钮事件
$('.layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
});

//监听行工具事件
table.on('tool(config)', function(obj){
	var row = obj.data;
	if(obj.event === 'del') {
		layer.confirm("确认删除吗？", {icon: 3, title:'提示'}, function(index) {
			layer.close(index);
			$.ajax({
		        url : "[[@{/}]]harbor/delete",
		        data : {'projectName': row.imageName,'tag':row.version},
		        type : "post",
		        dataType : "json",
		        error : function(data) {
		        	errorHandle(data);
		        },
		        success : function(data) {
                    console.log("删除",data)
                    layer.msg('删除成功');
                     active.reload();
		        }
		    });
		});
    }else if(obj.event ==="deploy"){
        layer.open({
            type: 2,
            area: ['80%', '80%'],
            title: '部署',
            content: '[[@{/}]]deploy/deployPod?image='+row.imageName+':'+row.version
        });





    /*    $.ajax({
            url : "[[@{/}]]deploy/pod",
            data : {'imageName': row.imageName,'tag':row.version},
            type : "post",
            dataType : "json",
            error : function(data) {
                errorHandle(data);
            },
            success : function(data) {
                layer.msg('部署成功');
               // active.reload();
            }
        });*/
    }
});
$("#reload").click();

// 错误处理
function errorHandle(data) {
    if (data.status == 404) {
        layer.msg("请求资源不存在", {icon: 2});
    } else {
        layer.msg("服务端异常", {icon: 2});
    }
    return;
}
</script>
</html>