<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/view.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/jquery/jquery-form.js}"></script>
    <title></title>
</head>
<body class="layui-view-body">
	<div class="layui-row">
    	<div class="layui-card">
        	<form class="layui-form layui-card-body layui-form-pane" method="post">
				<label class="layui-form-label">服务器IP</label>
				<div class="layui-input-inline">
					<input type="tel" name="serverIp"  id="serverIp" disabled th:value="${serverIp}"  autocomplete="off" class="layui-input">
				</div>
				<div class="layui-form-item">
					<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
						<legend>docekr 中的三个配置文件 <samp style="color: crimson">ca.pem、cert.pem、key.pem </samp> 支持多文件同时上传 </legend>
					</fieldset>
<!--
					<label class="layui-form-label"><i>*</i>zip名称</label>
-->
					<div class="layui-upload-drag"   style="padding: 100px" id="test4">
						<i class="layui-icon"></i>
						<p>点击上传，或将文件拖拽到此处</p>
					</div>
<!--
					<button type="button" class="layui-btn" id="test9">开始上传</button>
-->
				</div>
			</form>
		</div>
	</div>


	<div class="layui-content">
		<div class="layui-row">
			<div class="layui-card">
				<table class="layui-hide" id="dataTable" lay-filter="config"></table>
				<script type="text/html" id="operation">
					<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
				</script>
			</div>
		</div>
	</div>
	</div>
</body>
<script>
var form = layui.form;
var layer = layui.layer;


var table = layui.table;
var layer = layui.layer;


table.render({
    id: 'table'
    ,elem: '#dataTable'
    ,url: '[[@{/app/env/docker/configFile/list}]]'
    ,cols: [
        [
             {field:'serverIp', title: '服务器IP'},
             {field:'fileName', title: '配置文件名'}
            ,{title:'操作', align: 'center', toolbar: '#operation', width:650}
        ]
    ],
    where: {
        serverIp : $("input[name='serverIp']").val()
    }
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
        console.log(res)
        return {
            "code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
        };
    }
});

active = {
    reload: function() {
        table.reload('table', {
        }, 'data');
    },
};

layui.use('upload', function(){
    var $ = layui.jquery
        ,upload = layui.upload;
//普通图片上传

var uploadInst = upload.render({
    elem: '#test4'
    ,url: '[[@{/}]]app/env/docker/addConfigFile' //改成您自己的上传接口
    ,accept: 'file' //普通文件
   // ,auto: false
    ,bindAction: '#test9'
    ,data:{
        serverIp: function(){
            return $('#serverIp').val();
        }
    }
    ,done: function(res){
        console.log("1111",res)
        if(res.code == 200){
            location.reload();
            return layer.msg('上传完成');
        }else{
            return layer.msg('上传失败');
		}
    }

  });
});
//监听行工具事件
table.on('tool(config)', function(obj) {
    var row = obj.data;
    if(obj.event === 'del') {
        layer.confirm("确认删除吗？", {icon: 3, title: '提示'}, function (index) {
            layer.close(index);
            $.ajax({
                url: "[[@{/}]]app/env/docker/deleteServerConfigFile",
                type: "post",
                data: {'serverIp': row.serverIp,fileName:row.fileName},
                dataType: "json",
                error: function (data) {
                    errorHandle(data);
                },
                success: function (data) {
                    if (data.code == 200) {
                        layer.msg("删除成功", {icon: 1});
                    } else {
                        layer.msg(data.msg, {icon: 2});
                    }
                    active.reload();
                }
            });
        });
    }
})



// 错误处理
function errorHandle(data) {
	if (data.status == 404) {
		layer.msg("请求资源不存在", {icon: 2});
	} else {
		layer.msg("服务端异常", {icon: 2});
	}
	return;
}
</script>
</html>