<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/view.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
</head>
<body>

<div class="layui-tab layui-tab-card" >
    <ul class="layui-tab-title">
        <li class="layui-this">应用管理</li>
<!--
        <li>环境管理</li>
-->
        <li>前端管理</li>
        <li>部署管理</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="layui-content">
                <div class="layui-row">
                    <div class="">
                        命名空间 ：
                        <div class="layui-inline mr10">
                            <input class="layui-input" name="namespace"  autocomplete="off">
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">容器名称</label>
                            <div class="layui-input-inline">
                                <input type="text"  name="podName" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <button class="layui-btn" data-type="reload">查询</button>
                        <table class="layui-hide" id="harborDataTable" lay-filter="config"></table>
                        <script type="text/html" id="operation">
                            <a class="layui-btn layui-btn-xs" lay-event="open">打开</a>
                            <a class="layui-btn layui-btn-xs" lay-event="logs">日志</a>
<!--
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delDeploy">删除</a>
-->
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!--  环境 --><!--       <div class="layui-tab-item">
            <div class="layui-content">
                <div class="layui-row">
                    <div class="">
                        命名空间 ：
                        <div class="layui-inline mr10">
                            <input class="layui-input" name="namespace2"  autocomplete="off">
                        </div>

                        <button class="layui-btn" data-type="reload2">查询</button>

                        <table class="layui-hide" id="harborDataTable2" lay-filter="config"></table>
                        <script type="text/html" id="operation2">
                            <a class="layui-btn layui-btn-xs" lay-event="open">打开</a>
                            <a class="layui-btn layui-btn-xs" lay-event="logs">日志</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>-->


        <!--  前端 -->
        <div class="layui-tab-item">
            <div class="layui-content">
                <div class="layui-row">
                    <div class="">
                        命名空间 ：
                        <div class="layui-inline mr10">
                            <input class="layui-input" name="namespace3"  autocomplete="off">
                        </div>
                        <button class="layui-btn" data-type="reload3">查询</button>
                        <button class="layui-btn" data-type="downloadConf">下载nginx.conf文件</button>
                        <table class="layui-hide" id="harborDataTable3" lay-filter="config"></table>
                        <script type="text/html" id="operation3">
                            <a class="layui-btn layui-btn-xs" lay-event="open">打开</a>
                            <a class="layui-btn layui-btn-xs" lay-event="logs">日志</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <!--  deployment -->


        <div class="layui-tab-item">

            <div class="layui-content">
                <div class="layui-row">
                    <div class="">
                        命名空间 ：
                        <div class="layui-inline ">
                            <input class="layui-input"  name="namespace4"  autocomplete="off">
                        </div>
                        <button class="layui-btn"id="namespace4" data-type="reload4">查询</button>
                        <button class="layui-btn layui-btn-danger" data-type="deleteDeployment">批量删除</button>
                        <button class="layui-btn layui-btn-danger" data-type="restartDeployment">批量重启</button>
                        <table class="layui-hide" id="harborDataTable4" lay-filter="config"></table>
                        <script type="text/html" id="operation4">
                            <a class="layui-btn layui-btn-xs" lay-event="update">编辑</a>
                            <a class="layui-btn layui-btn-xs" lay-event="restart">重启</a>
                            <a class="layui-btn layui-btn-xs" lay-event="rollback">回滚</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delDeployment">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
</div>

</body>
<script>
var element = layui.element;
var table = layui.table;
var layer = layui.layer;
var tableHeight2 =  $(window).height() - 180;

table.render({
	id: 'harborTable'
	,elem: '#harborDataTable'
    ,height:tableHeight2
    ,url: '[[@{/pod/listAppData}]]'
    ,cols: [  //      <th lay-data="{type:'checkbox', fixed: 'left'}"></th>

        [
	      {field:'podName', title: '容器名称', align: 'center'}
	      ,{field:'namespace', title: '命名空间', align: 'center',width:200}
	      ,{field:'podStatus', title: '容器状态', align: 'center',width:80}
	      ,{field:'date', title: '部署时间', align: 'center',width:180}
	      ,{field:'ports', title: '端口', width:120}
	      ,{title:'操作', align: 'center', toolbar: '#operation', width:140}
    	]
   	]
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
	    console.log(res)
    	return {
    		"code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
    	};
    }
});

table.render({
	id: 'harborTable2'
	,elem: '#harborDataTable2'
    ,url: '[[@{/pod/listEnvData}]]'
    ,cols: [
    	[
	      ,{field:'hostIp', title: '容器宿主机IP'}
	      ,{field:'ports', title: '端口'}
	      ,{field:'podName', title: '容器名称', align: 'center'}
	      ,{field:'namespace', title: '命名空间', align: 'center'}
	      ,{field:'podStatus', title: '容器状态', align: 'center'}
	      ,{field:'date', title: '部署时间', align: 'center'}
	      ,{title:'操作', align: 'center', toolbar: '#operation2', width:250}
    	]
   	]
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
	    console.log(res)
    	return {
    		"code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
    	};
    }
});
table.render({
	id: 'harborTable3'
	,elem: '#harborDataTable3'
    ,url: '[[@{/pod/listNginxData}]]'
    ,cols: [
    	[
	      ,{field:'hostIp', title: '容器宿主机IP'}
	      ,{field:'ports', title: '端口'}
	      ,{field:'podName', title: '容器名称', align: 'center'}
	      ,{field:'namespace', title: '命名空间', align: 'center'}
	      ,{field:'podStatus', title: '容器状态', align: 'center'}
	      ,{field:'date', title: '部署时间', align: 'center'}
	      ,{title:'操作', align: 'center', toolbar: '#operation3', width:250}
    	]
   	]
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
	    console.log(res)
    	return {
    		"code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
    	};
    }
});

table.render({
	id: 'harborTable4'
	,elem: '#harborDataTable4'
    ,url: '[[@{/deploy/getDeployment}]]'
    ,height:tableHeight2
    ,done : function () {
        $('.layui-table-fixed-r').removeClass('layui-hide');
    }
    ,cols: [
    	[
	         {fixed:'left',type:'checkbox'}
            ,{field:'name', title: '部署名称', align: 'center',width:300}
            ,{field:'namespace', title: '命名空间', align: 'center',width:100}
            ,{field:'replicas', title: '数量', align: 'center',width:40}
            ,{field:'date', title: '日期', align: 'center'}
            ,{field:'image', title: '镜像', align: 'center'}
            ,{fixed: 'right',title:'操作', align: 'center', toolbar: '#operation4', width:300}
    	]
   	]
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
	    console.log(res)
    	return {
    		"code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
    	};
    }
});


active = {
	add: function() {
		layer.open({
    		type: 2,
    		area: ['80%', '50%'],
    		title: '新增',
    		content: '[[@{/}]]env/add'
    	});
	},
	reload: function() {
		table.reload('harborTable', {
            where: {
                namespace : $("input[name='namespace']").val(),
                podName : $("input[name='podName']").val()
            }
		}, 'data');
	},
    reload2: function() {
		table.reload('harborTable2', {
            where: {
                namespace : $("input[name='namespace2']").val()
            }
		}, 'data');
	},
    reload3: function() {
		table.reload('harborTable3', {
            where: {
                namespace : $("input[name='namespace3']").val()
            }
		}, 'data');
	},
    reload4: function() {
		table.reload('harborTable4', {
            where: {
                namespace : $("input[name='namespace4']").val()
            }
		}, 'data');
	},

    downloadConf: function() {
        layer.open({
            type: 2,
            area: ['80%', '50%'],
            title: '下载',
            content: '[[@{/}]]pod/downloadNginxConf'
        });
	},
	reset: function() {
		$(".layui-input").val("");
	},

    deleteDeployment: function(){ //获取选中数据
        var checkStatus = table.checkStatus('harborTable4')
            ,data = checkStatus.data;
        var names =''
        var namespaces =''
        for (var i = 0 ; i < data.length; i++){
            names +=data[i].name+",";
            namespaces +=data[i].namespace+",";
        }
        console.log("44444list",names)
        layer.confirm("确定删除吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/delDeploys",
                data : {"names":names,"namespaces":namespaces},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $("#namespace4").click();
                }
            });
        });
    }  ,
    restartDeployment : function(){ //获取选中数据
        var checkStatus = table.checkStatus('harborTable4')
            ,data = checkStatus.data;
        var names =''
        var namespaces =''
        for (var i = 0 ; i < data.length; i++){
            names +=data[i].name+",";
            namespaces +=data[i].namespace+",";
        }
        layer.confirm("确定重启吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/restartDeploys",
                data : {"names":names,"namespaces":namespaces},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $("#namespace4").click();
                }
            });
        });
    }
    ,getCheckLength: function(){ //获取选中数目
        var checkStatus = table.checkStatus('harborTable4')
            ,data = checkStatus.data;
       // layer.msg('选中了：'+ data.length + ' 个');
    }

};

// 按钮事件
$('.layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
});


//监听行工具事件
table.on('tool(config)', function(obj){
    var row = obj.data;
    if(obj.event === 'del') {
        layer.confirm("确认删除吗？", {icon: 3, title: '提示'}, function (index) {
            layer.close(index);
            $.ajax({
                url: "[[@{/}]]pod/delete",
                data: {"namespace": row.namespace, 'podName': row.podName},
                type: "post",
                dataType: "json",
                error: function (data) {
                    errorHandle(data);
                },
                success: function (data) {
                    console.log(data)
                    if(data.code ==200){
                        layer.msg('删除成功');
                    }
                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });
     }else if(obj.event === 'delNginx') {

    }else if(obj.event === "open"){

      var list = obj.data.ports.split(",");
      for (var i =0 ; i < list.length ; i++){
          if(obj.data.podName == "env-nacos"){
              window.open("http://"+obj.data.hostIp+":"+list[i].split(":")[1]+"/nacos");
          }else{
              window.open("http://"+obj.data.hostIp+":"+list[i].split(":")[1]);
          }
      }
    }else if(obj.event ==='logs'){
        console.log(obj.data.namespace)
        window.open('[[@{/}]]pod/logs?namespace='+obj.data.namespace+'&podName='+obj.data.podName)
        //新增一个Tab项
   /*     element.tabAdd('demo', {
            title: '日志' //用于演示
              ,  type: 2
           , content: '[[@{/}]]pod/logs?namespace='+obj.data.namespace+'&podName='+obj.data.podName
            ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
        })*/
       /* layer.open({
            type: 2,
            area: ['100%', '100%'],
            title: '日志',
            content: '[[@{/}]]pod/logs?namespace='+obj.data.namespace+'&podName='+obj.data.podName
        });*/
    }else if(obj.event ==='restart'){
        console.log(obj.data.namespace)
        layer.confirm("确认  "+obj.data.name+"  重启吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/restart",
                data : {"namespace":row.namespace,'deployname': row.name},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });
       }else if(obj.event ==='rollback'){
        console.log(obj.data.namespace)
        layer.confirm("确认   "+obj.data.name+"  回滚吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/rollback",
                data : {"namespace":row.namespace,'deployname': row.name},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });

        //delDeploy
    }else if(obj.event ==='delDeploy'){
        console.log(obj.data.namespace)
        layer.confirm("确定  "+obj.data.name+ "   删除吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/delDeploy",
                data : {"namespace":row.namespace,'podName': row.podName},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });
    }else if(obj.event ==='delDeployment'){
        console.log(obj.data.namespace)
        layer.confirm("确定  "+obj.data.name+"   删除吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]deploy/delDeployment",
                data : {"namespace":row.namespace,'deployname': row.name},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });
            //updateImage
    }else if(obj.event ==='update'){
        layer.open({
            type: 2,
            area: ['100%', '80%'],
            title: '修改',
            content: '[[@{/}]]deploy/updatePage?deployname='+obj.data.name+"&replicas="+obj.data.replicas+"&image="+obj.data.image+"&namespace="+obj.data.namespace
        });
        console.log("update",obj.data)

    }
});



//错误处理
function errorHandle(data) {
	if (data.status == 404) {
		layer.msg("请求资源不存在", {icon: 2});
	} else {
		layer.msg("服务端异常", {icon: 2});
	}
	return;
}
</script>
</html>