<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/view.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
</head>
<body>

<div class="layui-tab layui-tab-card" >
    <ul class="layui-tab-title">
        <li class="layui-this">应用管理</li>
<!--
        <li>环境管理</li>
-->
        <li>前端管理</li>
        <li>部署管理</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="layui-content">
                <div class="layui-row">
                    <div class="layui-card">
                        <div class="layui-form-item layui-form layui-card-body layui-form-pane" >
                            <label class="layui-form-label">命名空间</label>
                            <div class="layui-input-inline">
                                <select id="namespace1"  lay-verify="required"   lay-filter="namespace1"class="layui-input" name="namespace1">
                                    <option value="">请选择</option>
                                </select>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">容器名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="podName"  name="podName" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <button class="layui-btn layui-btn-normal" id="podLoad" data-type="load">查询</button>
                            <button class="layui-btn layui-btn-warm" id="podReload" data-type="reload">重置</button>
                        </div>
                        <table class="layui-hide" id="harborDataTable"  lay-filter="podConfig"></table>
                        <script type="text/html" id="operation">
                            <a class="layui-btn layui-btn-xs" lay-event="open">打开</a>
                            <a class="layui-btn layui-btn-xs" lay-event="logs">日志</a>
                            <a id="downloadJar"  class="layui-btn layui-btn-xs" lay-event="download">下载Jar</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>



        <!--  前端 -->
        <div class="layui-tab-item">
            <div class="layui-content">
                <div class="layui-row">
                    <div class="layui-card">
                        <div class="layui-form-item layui-form layui-card-body layui-form-pane" >
                            <label class="layui-form-label">命名空间</label>
                            <div class="layui-input-inline">
                                <select id="namespace2"   lay-filter="namespace2"class="layui-input" name="namespace2">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <button class="layui-btn" data-type="reload3">查询</button>

                            <button class="layui-btn" data-type="downloadConf">下载nginx.conf文件</button>
                        </div>
                        <table class="layui-hide" id="harborDataTable3" lay-filter="config"></table>
                        <script type="text/html" id="operation3">
                            <a class="layui-btn layui-btn-xs" lay-event="open">打开</a>
                            <a class="layui-btn layui-btn-xs" lay-event="logs">日志</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <!--  deployment -->


        <div class="layui-tab-item">

            <div class="layui-content">
                <div class="layui-row">
                    <div class="layui-card">
                        <div class="layui-form-item layui-form layui-card-body layui-form-pane" >
                            <label class="layui-form-label">命名空间</label>
                            <div class="layui-input-inline">
                                <select id="namespace4"  lay-verify="required"   lay-filter="namespace4"class="layui-input" name="namespace4">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">版本</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="version"  name="version" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <button class="layui-btn"id="namespace" data-type="reload4">查询</button>
                            <button class="layui-btn layui-btn-danger" data-type="deleteDeployment">批量删除</button>
                            <button class="layui-btn layui-btn-danger" data-type="restartDeployment">批量重启</button>
                        </div>
                        <table class="layui-hide" id="harborDataTable4" lay-filter="config"></table>
                        <script type="text/html" id="operation4">
                            <a class="layui-btn layui-btn-xs" lay-event="update">编辑</a>
                            <a class="layui-btn layui-btn-xs" lay-event="restart">重启</a>
                            <a class="layui-btn layui-btn-xs" lay-event="rollback">回滚</a>
                            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delDeployment">删除</a>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
<script>
var element = layui.element;
var table = layui.table;
var layer = layui.layer;
var tableHeight2 =  $(window).height() - 180;
var isDownload = true

var form = layui.form;
var namespace4 = '';
var namespace1 = '';
var namespace2 = '';

layui.use('form', function(){
    var form = layui.form;
    form.render();
});

$.ajax({
    url : "[[@{/}]]deploy/getNamespace",
    type : "get",
    dataType : "json",
    error : function(data) {
        errorHandle(data);
    },
    success : function(data) {
        $.each(data, function (index, item) {
            $('#namespace4').append(new Option(item.name, item.name));// 下拉菜单里添加元素
            $('#namespace1').append(new Option(item.name, item.name));// 下拉菜单里添加元素
            $('#namespace2').append(new Option(item.name, item.name));// 下拉菜单里添加元素
        });
        layui.form.render("select")
    }
});


form.on('select(namespace4)', function(data){
    console.log(data);
    namespace4 = data.value;
})
;form.on('select(namespace1)', function(data){
    console.log(data);
    namespace1 = data.value;
});
;form.on('select(namespace2)', function(data){
    console.log(data);
    namespace2 = data.value;
});
table.render({
	id: 'harborTable'
	,elem: '#harborDataTable'
    ,height:tableHeight2
    ,url: '[[@{/pod/listAppData}]]'
    ,cols: [  //      <th lay-data="{type:'checkbox', fixed: 'left'}"></th>
//      <th lay-data="{field:'sign', width:'50%', event: 'setSign', style:'cursor: pointer;'}">签名</th>

        [
	      {field:'podName', title: '容器名称',event: 'setPodName', align: 'center'}
            ,{field:'namespace', title: '命名空间', align: 'center',width:200}
	      ,{field:'podStatus', title: '容器状态', align: 'center',width:80,sort: true}
	      ,{field:'date', title: '部署时间', align: 'center',width:180,sort: true}
	      ,{field:'ports', title: '端口', width:120,sort: true}
	      ,{title:'操作', align: 'center', toolbar: '#operation', width:190}
    	]
   	]
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
	    console.log(res)
    	return {
    		"code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
    	};
    }
});

table.render({
	id: 'harborTable3'
	,elem: '#harborDataTable3'
    ,url: '[[@{/pod/listNginxData}]]'
    ,cols: [
    	[
	      ,{field:'hostIp', title: '容器宿主机IP'}
	      ,{field:'ports', title: '端口'}
	      ,{field:'podName', title: '容器名称', align: 'center'}
	      ,{field:'namespace', title: '命名空间', align: 'center'}
	      ,{field:'podStatus', title: '容器状态', align: 'center',sort: true}
	      ,{field:'date', title: '部署时间', align: 'center',sort: true}
	      ,{title:'操作', align: 'center', toolbar: '#operation3', width:250}
    	]
   	]
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
	    console.log(res)
    	return {
    		"code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
    	};
    }
});

table.render({
	id: 'harborTable4'
	,elem: '#harborDataTable4'
    ,url: '[[@{/deploy/getDeployment}]]'
    ,height:tableHeight2
    ,done : function () {
        $('.layui-table-fixed-r').removeClass('layui-hide');
    }
    ,cols: [
    	[
	         {fixed:'left',type:'checkbox'}
            ,{field:'name', title: '部署名称', align: 'center',width:300}
            ,{field:'namespace', title: '命名空间', align: 'center',width:100}
            ,{field:'replicas', title: '数量', align: 'center',width:40,sort: true}
            ,{field:'date', title: '日期', align: 'center',sort: true}
            ,{field:'image', title: '镜像', align: 'center'}
            ,{fixed: 'right',title:'操作', align: 'center', toolbar: '#operation4', width:300}
    	]
   	]
    ,response: {
        statusCode: 200
    }
    ,parseData: function(res){
	    console.log(res)
    	return {
    		"code": res.code
            ,"msg": res.msg
            ,"count": res.data.total
            ,"data": res.data.records
    	};
    }
});

$.ajax({
    url : "[[@{/}]]pod/isEnable/downloadJar",
    type : "get",
    dataType : "json",
    error : function(data) {
        errorHandle(data);
    },
    success : function(data) {
        console.log(data)
        if (data == true){
            console.log("222")
            //$("#downloadJar").show();
        }else{
            console.log("223332")
        }
        $("#downloadJar").hide()
    }
});
active = {
	add: function() {
		layer.open({
    		type: 2,
    		area: ['80%', '50%'],
    		title: '新增',
    		content: '[[@{/}]]env/add'
    	});
	},
	load: function() {
		table.reload('harborTable', {
            where: {
                namespace : namespace1,
                podName : $("input[name='podName']").val()
            }
		}, 'data');
	},
    reload: function() {

	    $("input[name='namespace']").val(''),
        $("input[name='podName']").val('')
        table.reload('harborTable', {
            where: {
                namespace : $("input[name='namespace']").val(),
                podName : $("input[name='podName']").val()
            }
        }, 'data');
    },
    reload3: function() {
		table.reload('harborTable3', {
            where: {
                namespace : namespace2
            }
		}, 'data');
	},
    reload4: function() {
		table.reload('harborTable4', {
            where: {
                namespace : namespace4,
                version : $("input[name='version']").val()
            }
		}, 'data');
	},

    downloadConf: function() {
        layer.open({
            type: 2,
            area: ['80%', '50%'],
            title: '下载',
            content: '[[@{/}]]pod/downloadNginxConf'
        });
	},
	reset: function() {
		$(".layui-input").val("");
	},

    deleteDeployment: function(){ //获取选中数据
        var checkStatus = table.checkStatus('harborTable4')
            ,data = checkStatus.data;
        var names =''
        var namespaces =''
        for (var i = 0 ; i < data.length; i++){
            names +=data[i].name+",";
            namespaces +=data[i].namespace+",";
        }
        console.log("44444list",names)
        layer.confirm("确定删除吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/delDeploys",
                data : {"names":names,"namespaces":namespaces},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $("#namespace4").click();
                }
            });
        });
    }  ,
    restartDeployment : function(){ //获取选中数据
        var checkStatus = table.checkStatus('harborTable4')
            ,data = checkStatus.data;
        var names =''
        var namespaces =''
        for (var i = 0 ; i < data.length; i++){
            names +=data[i].name+",";
            namespaces +=data[i].namespace+",";
        }
        layer.confirm("确定重启吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/restartDeploys",
                data : {"names":names,"namespaces":namespaces},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $("#namespace4").click();
                }
            });
        });
    }
    ,getCheckLength: function(){ //获取选中数目
        var checkStatus = table.checkStatus('harborTable4')
            ,data = checkStatus.data;
       // layer.msg('选中了：'+ data.length + ' 个');
    }

};

// 按钮事件
$('.layui-btn').on('click', function(){
    var type = $(this).data('type');
    active[type] ? active[type].call(this) : '';
});
//监听行工具事件
table.on('tool(podConfig)', function(obj) {
    var row = obj.data;
    if(obj.event === "open"){
        var list = obj.data.ports.split(",");
        for (var i =0 ; i < list.length ; i++){
            if(obj.data.podName == "env-nacos"){
                window.open("http://"+obj.data.bindK8sIP+":"+list[i].split(":")[1]+"/nacos");
            }else{
                window.open("http://"+obj.data.bindK8sIP+":"+list[i].split(":")[1]);
            }
        }
    }else if(obj.event ==='logs') {
        console.log(obj.data.namespace)
        window.open('[[@{/}]]pod/logs?namespace=' + obj.data.namespace + '&podName=' + obj.data.podName)
    }else if(obj.event ==='download'){
         window.open("[[@{/}]]pod/downloadJar?namespace="+obj.data.namespace+"&podName="+obj.data.podName)
    }
})
//监听行工具事件
table.on('tool(config)', function(obj){
    var row = obj.data;
    if(obj.event === 'del') {
        layer.confirm("确认删除吗？", {icon: 3, title: '提示'}, function (index) {
            layer.close(index);
            $.ajax({
                url: "[[@{/}]]pod/delete",
                data: {"namespace": row.namespace, 'podName': row.podName},
                type: "post",
                dataType: "json",
                error: function (data) {
                    errorHandle(data);
                },
                success: function (data) {
                    console.log(data)
                    if(data.code ==200){
                        layer.msg('删除成功');
                    }
                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });
     }else if(obj.event === 'delNginx') {

    }else if(obj.event === "open"){
      var list = obj.data.ports.split(",");
      for (var i =0 ; i < list.length ; i++){
          if(obj.data.podName == "env-nacos"){
              window.open("http://"+obj.data.bindK8sIP+":"+list[i].split(":")[1]+"/nacos");
          }else{
              window.open("http://"+obj.data.bindK8sIP+":"+list[i].split(":")[1]);
          }
      }
    }else if(obj.event ==='logs'){
        console.log(obj.data.namespace)
        window.open('[[@{/}]]pod/logs?namespace='+obj.data.namespace+'&podName='+obj.data.podName)

    }else if(obj.event ==='restart'){
        console.log(obj.data.namespace)
        layer.confirm("确认  "+obj.data.name+"  重启吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/restart",
                data : {"namespace":row.namespace,'deployname': row.name},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });
       }else if(obj.event ==='rollback'){
        console.log(obj.data.namespace)
        layer.confirm("确认   "+obj.data.name+"  回滚吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/rollback",
                data : {"namespace":row.namespace,'deployname': row.name},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });

        //delDeploy
    }else if(obj.event ==='delDeploy'){
        console.log(obj.data.namespace)
        layer.confirm("确定  "+obj.data.name+ "   删除吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]pod/delDeploy",
                data : {"namespace":row.namespace,'podName': row.podName},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {
                    console.log(data)
                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });
    }else if(obj.event ==='delDeployment'){
        console.log(obj.data.namespace)
        layer.confirm("确定  "+obj.data.name+"   删除吗？", {icon: 3, title:'提示'}, function(index) {
            layer.close(index);
            $.ajax({
                url : "[[@{/}]]deploy/delDeployment",
                data : {"namespace":row.namespace,'deployname': row.name},
                type : "post",
                dataType : "json",
                error : function(data) {
                    errorHandle(data);
                },
                success : function(data) {

                    $(".searchTable .layui-btn").eq(0).click();
                }
            });
        });
            //updateImage
    }else if(obj.event ==='update'){
        layer.open({
            type: 2,
            area: ['100%', '80%'],
            title: '修改',
            content: '[[@{/}]]deploy/updatePage?deployname='+obj.data.name+"&replicas="+obj.data.replicas+"&image="+obj.data.image+"&namespace="+obj.data.namespace
        });

    }

});
//触发行双击事件
table.on('rowDouble(podConfig)', function(obj){
    console.log(obj)
    var row = obj.data;
    layer.confirm("查找  "+row.images+"吗？", {icon: 3, title:'提示'}, function(index) {
        layer.close(index);
        $("#podName").val(row.images)
        $("#podLoad").click()
    });
});



//错误处理
function errorHandle(data) {
	if (data.status == 404) {
		layer.msg("请求资源不存在", {icon: 2});
	} else {
		layer.msg("服务端异常", {icon: 2});
	}
	return;
}
</script>
</html>