<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
    <link th:href="@{/layui/css/view.css}" rel="stylesheet" />
    <script th:src="@{/layui/layui.all.js}"></script>
    <script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
	<script th:src="@{/xm-select/xm-select.js}"></script>

	<script th:src="@{/jquery/jquery-form.js}"></script>
    <title></title>
</head>
<body class="layui-view-body">
	<div class="layui-row">
    	<div class="layui-card">
        	<form class="layui-form layui-card-body layui-form-pane" method="post" th:action="@{/nfs/addNfs}">

					<div class="layui-form-item">
						<label class="layui-form-label">命名空间</label>
						<div class="layui-input-inline">
							<select id="namespace" lay-verify="required" name="namespace">
								<option value="">请选择</option>
							</select>
						</div>
						<label class="layui-form-label">名称</label>
						<div class="layui-input-inline">
							<input name="name" id="name" lay-verify="required" style="width: 300px"  class="layui-input">
						</div>
					</div>

					<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;color: blueviolet;">
						<legend>NFS配置</legend>
					</fieldset>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">NFS地址-可不配置</label>
							<div class="layui-input-inline">
								<input type="text" name="nfsAddr" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
							</div>
							<label class="layui-form-label">NFS目录</label>
							<div class="layui-input-inline">
								<input type="text" name="nfsPath" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-form-mid">nfs大小（G）</div>
							<div class="layui-input-inline" style="width: 180px;">
								<input type="number" name="nfsSize"   th:min="1" th:max="800"  value="50" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
				<div class="layui-form-item">
					<button type="submit" class="layui-btn" lay-submit lay-filter="*">提交</button>
				</div>
			</form>
		</div>
	</div>
	<div id="demo1" style="width: 502px;"></div>

</body>
<script>


var form = layui.form;
var layer = layui.layer;

layui.use('form', function(){
    var form = layui.form;
    form.render();
});




$.ajax({
    url : "[[@{/}]]deploy/getNamespace",
    type : "get",
    dataType : "json",
    error : function(data) {
        errorHandle(data);
    },
    success : function(data) {
        $.each(data, function (index, item) {
             $('#namespace').append(new Option(item.name, item.name));// 下拉菜单里添加元素
            var val = $("#defaultNamespaceHidden").val();
            if (val && item.name == val ){
                $('#namespace').val(item.name)
            }
        });
        layui.form.render("select")
    }
});





//自定义验证规则
form.verify({

});

// 提交表单
form.on('submit(*)', function(data){
    $(".layui-form").ajaxForm({
        error: function(data){
            errorHandle(data);
        },
        success: function(data) {
            if(data.code == 200){
                parent.location.reload();
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
                layer.msg("成功", {icon: 1});
            }else{
                layer.msg(data.msg, {icon: 2});
			}
        }
    });
});

// 错误处理
function errorHandle(data) {
	if (data.status == 404) {
		layer.msg("请求资源不存在", {icon: 2});
	} else {
		layer.msg("服务端异常", {icon: 2});
	}
	return;
}
</script>
</html>