<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>C3Stones</title>
    <link th:href="@{/images/favicon.ico}" rel="icon">
	<link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
	<link th:href="@{/layui/css/login.css}" rel="stylesheet" />
	<link th:href="@{/layui/css/view.css}" rel="stylesheet" />
	<script th:src="@{/layui/layui.all.js}"></script>
	<script th:src="@{/jquery/jquery-2.1.4.min.js}"></script>
</head>
<body class="login-wrap" th:onkeydown="on_return()">
    <div class="login-container">
        <form class="login-form">
        	<div class="input-group text-center text-gray">
        		<h2>k8s部署管理平台</h2>
        	</div>

           <!-- <div class="input-group text-center text-gray">
        		<h2>欢迎登录</h2>
        	</div>-->
            <div class="input-group">
                <input type="text" id="username" placeholder="用户名" class="input-field">
                <label for="username" class="input-label">
                    <span class="label-title"></span>
                </label>
            </div>
            <div class="input-group">
                 <label for="password" class="input-label">
                </label>
                    <input type="password" id="password" placeholder="密码" class="input-field">
            </div>
                <div class="layui-form-item" pane="">
                    <label class="layui-form-label">记住密码</label>
                    <div class="layui-input-block" style="top: 12px">
                        <input type="checkbox" id="isPass" name="isPass" lay-skin="primary" title="记住密码" checked >
                    </div>

                </div>

            <button type="button"   onClick='login()' class="login-button">登录<i class="ai ai-enter"></i></button>
        </form>
    </div>


</body>
</html>
<style>
</style>
<script>
layui.define(['element'],function(exports){
    var $ = layui.$;
    $('.input-field').on('change',function(){
        var $this = $(this),
            value = $.trim($this.val()),
            $parent = $this.parent();
        if(!isEmpty(value)){
            $parent.addClass('field-focus');
        }else{
            $parent.removeClass('field-focus');
        }
    })
    exports('login');
    $("#username").val(localStorage.getItem("usernameK8s"))
    $("#password").val(localStorage.getItem("passwordK8s"))
});


function on_return() {
    if (window.event.keyCode == 13) {
        this.login()
    }
}
var layer = layui.layer;
// 登录
function login() {
    var username = $("#username").val();
    var password = $("#password").val();
    if (isEmpty(username) || isEmpty(password)) {
        layer.msg("用户名或密码不能为空", {icon: 2});
        return ;
    }
    var loading = layer.load(1, {shade: [0.3, '#fff']});
    $.ajax({
        url : "[[@{/}]]login",
        data : {username : username, password : password},
        type : "post",
        dataType : "json",
        error : function(data) {
        },
        success : function(data) {
            layer.close(loading);
            if (data.code == 200) {
                if ($("#isPass").is(":checked")){
                    localStorage.setItem("usernameK8s",username)
                    localStorage.setItem("passwordK8s",password)
                }else{
                    localStorage.setItem("usernameK8s","")
                    localStorage.setItem("passwordK8s","")
                }
                location.href = "[[@{/}]]index";
            } else {
                layer.msg(data.msg, {icon: 2});
            }
        }
    });
}

function isEmpty(n) {
	if (n == null || n == '' || typeof(n) == 'undefined') {
		return true;
	}
	return false;
}
</script>